
/* 共通設定 */
.common {
  margin: 0 auto 70px;
  width: 1200px;
}
body {
  margin: 0 ;
  padding: 0;
}
li {
  list-style: none;
}
table {
  width: 100%;
}
tr {
  height: 50px;
  border-bottom: 1px solid gray;
  /* width: 25%; */
  /* display: flex; */
  /* justify-content: space-between; */
}
/* ヘッダー */
header {
  background: blue;
  /* height: 80px; */
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}
header h1 {
  margin: 0;
}
header ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
}
/* トップ写真 */
.top-photo {
  background: skyblue;
  height: 500px;
  background-image: url(../images/top-image.jpg) ;
  background-size: cover;
  text-align: center;
  color: white;
}
/* 自己紹介 */
.intro {
  width: 45%;
  background: purple;
}
.introduction {
  background: green;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.introduction-left img{
  width: 100%;
  border-radius: 50px;
  vertical-align: middle;
}
.introduction-right {
  padding-left: 20px;
  box-sizing: border-box; 
}
/* スキル */
.skills {
  background: pink;
  height: 100%;
  text-align: center;
  
}
.skill-title {
  background: blue;
  font-size: 25px;
}
.skill-list {
  background: green;
  border: 1px solid gray;
}
/* 作品 */
.works {
  background: yellow;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.work {
width: 30%;
background: blue;
}
/* 経歴 */
.my-history {
  background: red;
  height: 500px;
  
}
/* 問い合わせ */
.contact {
  background: orange;
  height: 300px;
  
}
/* フッター */
footer {
  background: gray;
  height: 80px;

}